#vue-main {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 30px;
}
#vue-main .vue-left {
  width: 120px;
  border: 1px solid #ccc;
  padding-bottom: 20px;
  float: left;
}
#vue-main .vue-left ul li {
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  font-size: 12px;
}
#vue-main .vue-left ul li p {
  padding-left: 14px;
}
#vue-main .vue-left ul li p a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#vue-main .vue-left ul li .left-li-one {
  font-size: 16px;
}
#vue-main .vue-left ul li p:hover {
  color: #95c357;
}
#vue-main .vue-left ul li .left-li-one:hover {
  color: #333;
  cursor: default;
}
#vue-main .vue-left ul .bgstyle {
  background: #7BBB49;
}
#vue-main .vue-left ul .bgstyle a {
  color: #fff;
}
#vue-main .vue-left ul li:last-of-type {
  border-bottom: 0;
}
#vue-main .vue-right {
  width: 1062px;
  min-height: 700px;
  float: right;
  font-size: 14px;
}
#vue-main .vue-right .right-title {
  border: 1px solid #ccc;
  height: 46px;
  line-height: 46px;
  padding-left: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
}
#vue-main .vue-right .bangding-content {
  border: 1px solid #ccc;
  min-height: 335px;
}
#vue-main .vue-right .bangding-content li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
  height: 80px;
  line-height: 80px;
}
#vue-main .vue-right .bangding-content li p {
  float: left;
}
#vue-main .vue-right .bangding-content li .weibangding span {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  background: #95c357;
  color: #fff;
}
#vue-main .vue-right .bangding-content li .cnt-one {
  width: 64px;
  text-align: center;
}
#vue-main .vue-right .bangding-content li .cnt-two {
  width: 99px;
}
#vue-main .vue-right .bangding-content li .cnt-three {
  width: 135px;
  color: #95c357;
}
#vue-main .vue-right .bangding-content li .redColor {
  color: #ff4f52;
}
#vue-main .vue-right .bangding-content li .cnt-four {
  width: 500px;
  color: #888;
}
#vue-main .vue-right .bangding-content li .cnt-five {
  width: 100px;
  float: right;
  margin-right: 30px;
  color: #95c357;
  text-align: center;
}
